<header>
	<section>
		<mat-icon class="heart" aria-hidden="false" aria-label="affection icon to show how much affection your tardigrade has for you">favorite</mat-icon>
		<small>10</small>
		<mat-icon class="food" aria-hidden="false" aria-label="food icon to indecate how much food">brightness_1</mat-icon>
		<small>3</small>
	</section>
	<mat-icon class="camera" aria-hidden="false" aria-label="camera icon, a button to take a picture of your tardigrade">photo_camera</mat-icon>
	<mat-icon class="menu" aria-hidden="false" aria-label="main menu button">menu</mat-icon>
</header>
<app-game></app-game>
