
$color-theme: ( 'background': #ffdd55,'utility': #ff5555, 'primary': #0b6af8,'attention': #87decd )
$border: black solid 10px
header
  display: flex
  align-items: center
  justify-content: space-between
  background-color: map-get($color-theme, 'background')
  padding: 5px
  section
    display: flex
    align-items: center
  small
    font-weight: bold
  .heart
    color: map-get($color-theme, 'utility')
  .food
    margin-left: 10px
    color: map-get($color-theme, 'attention')
  .camera
    color: map-get($color-theme, 'primary')
    margin-right: 50px
  .menu
    text-align: left
    color: map-get($color-theme, 'primary')
